

@{
	ViewData["Title"] = "Browse";
}


<div class="content-container font-medium">
	.NET projects
</div>

<div class="table-container">
	<div class="table-grid" role="grid">

		<div class="table-row table-head">
			<div class="table-cell"> Name </div>
			<div class="table-cell"> Description </div>

		</div>




			<div class="table-row">

				<div class="table-cell"><a href="/browse">Game Catalog</a> </div>
				<div class="table-cell">Catalog built from the ground with ASP.NET, Entity Framework, MySQL Database, Azure web platform </div>

			</div>
			

	</div>
</div>
